<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('list_background.jpg') %>)">
  <div class="container">
    <h1>Watch list : <%= @list.name %></h1>
    <p><%= @list.name %></p>
  </div>
</div>

<% @list.movies.each do |l| %>
<li><%= l.title %></li>
<li><%= l.overview %></li>
<li><%= image_tag l.poster_url %></li>
<li><%= l.rating %></li>
<% @bookmark=Bookmark.find_by(list:@list, movie:l) %>
<%= @bookmark.comment %></li>
<%= link_to 'Delete this Movie',
            bookmark_path(@bookmark),
            method: :delete,
            data: { confirm: 'Is it your last words ?'} %>
<% end %>

<br>
<br>
<%= link_to 'My Lists', lists_path %> |
<%= link_to 'Add a movie', new_list_bookmark_path(@list) %>
